.backHeader__container {
  display: flex;
  flex-direction: column;

  gap: 10px;
  padding: 40px 21px 15px;
}

.backHeader__button {
  margin-bottom: 21px;
}

.backHeader__title {
  white-space: pre-line;
  font-size: 24px;
}

.backHeader__subtitle {
  white-space: pre-line;
  font-size: 14px;
  color: #bfbfbf;
}
