.ServiceInfoPage{
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 100%;
    width: 100%;
}

.ServiceInfoPage__title{
    font-family: var(--font-extrabold);
    padding: 0;
    margin: 0;
    margin-top: 19%;
    margin-left: 5.2%;
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;
}
.ServiceInfoPage__SubTitle{
    font-family: var(--font-extrabold);
    padding: 0;
    margin: 0;
    margin-left: 5.2%;
    font-size: 14px;
    color: #BFBFBF;
}
.ServiceInfoPage__description{
    font-family: var(--font-extrabold);
    width: 92%;
    height:30px;
    padding: 0;
    margin: 0 auto 0 auto;
    margin-bottom: 3.2%;
    font-size: 14px;
    color: #BFBFBF;
    text-align: center;
}
