.navigation__container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 450px;
  height: 88px;
  padding: 11px 28px 20px;

  background-color: #fff;
  border-top: 2px solid var(--color-border);
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item--default {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 54px;
  height: 54px;
}
