.SignupParentPageDone {
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 100%;
  width: 100%;
}

.SignupParentPageDone__title {
  font-family: var(--font-extrabold);
  padding: 0;
  margin: 0;
  margin-top: 0;
  margin-left: 5.2%;
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}



.SignupParentDone__NextButton{
    width: 92%;
  height: 55px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 0 auto; 
  margin-top: auto;
  color: #FFFFFF;
  box-shadow: 0 5px 0 #1899D6;
  font-family: var(--font-extrabold);
  background-color: #1CB0F6;
  margin-bottom: 14.1%;
}